# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels 
.venv
env/
venv/
ENV/

# Data (Pour ne pas envoyer nos gros fichiers CSV/Excel sur Git)
#data/
#*.csv
#*.xlsx
#*.zip

# OS
.DS_Store
Thumbs.db